<% provide(:title, 'Favourites Search') %>
<div style="min-height:400px;">
	<div>
	<%= form_tag favsearch_path, :method => 'get' do%>
		<div style="float:left; width:75%;"><%= text_field_tag :search, params[:search], placeholder: "Search for your favourite movies, shows, authors, books, music, games and get similar results that you may like ..." %></div>
		<div style="float:left; padding-left:10px; "><%= select_tag :type, options_for_select([['Genre', 1], ['Movies', 2], ['Music', 3], ['Books', 4], ['Authors', 5], ['Shows', 6], ['Games', 7]]) %></div>
		<div style="float:left; padding-left:10px; "><%= submit_tag "Search", class: "btn btn-large btn-info", :name => 'nil' %></div>
		
	<% end %>
	</div>
	<div style="padding-top:80px;">
	    <h2><%= @heading %></h2>
		<% @similarities.each do |sim| %>	    
          <div style="float:left; padding:10px;"><b><%= sim %></b></div>
        <% end %>
	</div>
</div>